<div id="cv">
	<h2 class="sr-only">CV</h2>
	<div id="download-link">
		<a href="/assets/Michael Enger - CV.pdf" title="Download PDF">
			<img src="/assets/pdf-file.png" alt="">
		</a>
	</div>
	<section id="experience">
		<h3>Experience</h3>
		<ul>
			{{ range .Data.experience }}
			<li>
				<h4>{{ .title }}, {{ .employer }} &mdash; {{ .date }}</h4>
				<p>{{ .description }}</p>
				{{ template "tech-list" .tech }}
			</li>
			{{ end }}
		</ul>
	</section>
	<section id="education">
		<h3>Education</h3>
		<ul>
			{{ range .Data.education }}
			<li>
				{{ .school }}; {{ .location }} – <span class="degree">{{ .degree }}</span>, {{ .year }}
			</li>
			{{ end }}
		</ul>
	</section>
	<section id="projects">
		<h3>Projects</h3>
		<ul>
			{{ range .Data.projects }}
			<li>
				<h4>{{ .title }}</h4>
				<a href="https://{{ .link }}" aria-label="Project link">
					{{ .link }}
				</a>
				<p>{{ .description }}</p>
				{{ template "tech-list" .tech }}
			</li>
			{{ end }}
		</ul>
	</section>
</div>
