body {
	background: #eee;
	color: #222;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: lighter;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

footer {
	font-size: 11pt;
	text-align: center;
	text-transform: uppercase;
}

footer a {
	color: #666;
	text-decoration: none;
}

footer a:hover {
	color: #222;
}

footer a img {
	height: 1em;
	margin-right: 0.35em;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

footer ul li {
	display: inline;
}

footer ul li::before {
	content: "·";
	margin: 0 1em;
}

footer ul li:first-child::before {
	display: none;
}

h1 {
	font-size: 42pt;
	font-weight: inherit;
}

h1 a {
	align-items: center;
	color: inherit;
	display: inline-flex;
	justify-content: center;
	text-decoration: none;
}

h1 a span {
	height: 0.85em;
}

h1 img {
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	height: 1em;
	margin-right: 0.25em;
}

header {
	text-align: center;
}

img {
	max-width: 100%;
}

main {
	margin: 1em 0;
}

p {
	margin: 0 0 1em;
}

#background {
	background: url("https://media.giphy.com/media/l3vRnoppYtfEbemBO/giphy.gif") center center no-repeat #ddd;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.05;
}

#container {
	max-width: 920px;
	min-width: 420px;
	margin: 0 auto;
	padding: 3em 1em;
	position: relative;
}

.diggy-diggy-hole {
	margin: 5em;
	text-align: center;
}

/* Gratuitously taken from https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
