a {
	color: inherit;
}

a svg {
	height: 1em;
	position: relative;
	top: 0.15em;
	width: 1em;
}

a svg:first-child {
	margin-right: 0.4em;
}

a svg:last-child {
	margin-left: 0.4em;
}

body {
	background: #0f172a;
	color: #c3c3c3;
	font-family: 'PT Mono', Georgia, serif;
	font-size: 12pt;
	font-weight: lighter;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

footer {
	margin: 2em 0;
	text-align: center;
}

h1 {
	font-size: 42pt;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	color: #dadada;
}

h2 {
	color: #b591dd;
	font-size: 24pt;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	margin: 0;
}

header {
	text-align: center;
}

img {
	max-width: 100%;
}

main {
	margin: 4em 0;
}

p {
	line-height: 1.35em;
	margin: 0.5em 0;
}

section {
	margin-bottom: 2em;
}

section:last-child {
	margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 1.5em;
}

li:last-child {
	margin-bottom: 0;
}

#container {
	max-width: 920px;
	min-width: 420px;
	margin: 0 auto;
	padding: 3em 1em;
}

#education .degree {
	font-weight: bold;
}
